<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginfon.core.web.mapper.UserRoleMapper">
    <resultMap type="com.ginfon.core.web.entity.UserRole" id="UserRoleResult">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <delete id="deleteUserRoleByUserId" parameterType="Long">
		delete from sys_user_role where user_id=#{userId} and (flag = 0 or flag = 2)
	</delete>

    <select id="countUserRoleByRoleId" resultType="Integer">
	    select count(1) from sys_user_role where role_id=#{roleId} and (flag = 0 or flag = 2)
	</select>

    <delete id="deleteUserRole" parameterType="Long">
        delete from sys_user_role where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        and (flag = 0 or flag = 2)
    </delete>

    <insert id="batchUserRole">
        insert into sys_user_role(user_id, role_id, flag) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId},2)
        </foreach>
    </insert>

</mapper> 