<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-desktop"></i>
            <a href="#">[[#{system.home}]]</a>
        </li>
        <li><a href="#">[[#{system.management}]]</a></li>
        <li class="active">[[#{system.role.management}]]</li>
    </ul><!-- .breadcrumb -->
</div>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            [[#{role.name}]]：<input type="text" name="roleName" class="input-mini"/>
                        </li>
                        <li>
                            [[#{auth.key}]]：<input type="text" name="roleKey"/>
                        </li>
                        <li>
                            [[#{role.state}]]：<select name="status"
                                                     th:with="type=${@dictService.getType('sys_normal_disable')}">
                            <option value="">[[#{role.state.all}]]</option>
                            <option th:each="dict : ${type}" th:text="${@messageUtils.message(dict.i18nKey)}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>[[#{role.createtime}]]：</label>
                            <input type="text" class="time-input" id="startTime" th:placeholder="#{starttime}"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" th:placeholder="#{endtime}"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;[[#{search}]]</a>
                            <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel()"
                               shiro:hasPermission="system:role:export"><i class="fa fa-download"></i>&nbsp;[[#{export}]]</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()"
               shiro:hasPermission="system:role:add">
                <i class="fa fa-plus"></i> [[#{add}]]
            </a>
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:role:remove">
                <i class="fa fa-trash-o"></i> [[#{delete}]]
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:role:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:role:remove')}]];
    var datas = [[${@dictService.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/role"


    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#startTime',
                type: 'datetime',
                lang:  ($.cookie("lang") == "zh_CN") ? "cn":"en"
            });

            laydate.render({
                elem: '#endTime',
                type: 'datetime',
                lang:  ($.cookie("lang") == "zh_CN") ? "cn":"en"
            });
        });
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "roleSort",
            modalName: $.i18n.prop("role"),
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'roleName',
                    title: $.i18n.prop("role.name"),
                    sortable: true
                },
                {
                    field: 'roleKey',
                    title: $.i18n.prop("auth.key"),
                    sortable: true
                },
                {
                    field: 'roleSort',
                    title: $.i18n.prop("role.sort"),
                    sortable: true
                },
                {
                    field: 'status',
                    title: $.i18n.prop("role.state"),
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: $.i18n.prop("role.createtime"),
                    sortable: true
                },
                {
                    title: $.i18n.prop("operate"),
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.roleId + '\')"><i class="fa fa-edit"></i>' + $.i18n.prop("edit") + '</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.roleId + '\')"><i class="fa fa-remove"></i>' + $.i18n.prop("delete") + '</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>